.section-about {
    background-image: url(../../../assets/backgroundDoctor/background-doctor.png);
    padding-bottom  : 80px;

    .header-title {
        text-align: center;
        font-size : 40px !important;
    }
}