.section-outstanding-doctor {
    background-image: url(../../../assets/backgroundDoctor/background-doctor.png);
    padding-bottom  : 15px;

    .img-customize {
        border-color : #00808d4a !important;
        border-radius: 30% !important;
    }
}